.group-sort-options {
  position: relative; 
  display: flex; 
  align-items: center; 
}
.options-card label {
  margin-bottom: 10px;
}
.group-sort-options button {
  margin-right: 10px; 
}

.options-card {
  margin-left: 50px;
  margin-top: -12px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px; 
  background-color: #b9babc;
  border: 1px solid rgb(80, 78, 78)abc;
  border-radius: 4px; 
  padding: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: none;
  margin-top: 10px;
}

.options-card.show {
  display: block; 
}
#display_button{
  margin-left: 50px;
  margin-top: 12px;
}
