
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-gap: 10px; 
}

.card {
  background-color: #ffffff; 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin: 12px;
  width: 100%;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-status {
  color: #0077b6; 
  margin-bottom: 10px; 
}

.card-user {
  margin-bottom: 10px; 
}

.card-priority {
  font-weight: bold; 
}

.card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  white-space: normal; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.6em;
  line-height: 1.8em; 
  text-overflow: ellipsis;
  overflow: hidden;
}
#card_id_user{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* card.css */
.card-tag {
  display: flex;
  align-items: center;
}

.card-tag-box {
  border: 1px solid black; /* Black border around the box */
  padding: 2px 4px; /* Adjust padding as needed */
  border-radius: 4px; /* Rounded corners for the box */
  background: white; /* Background color for the box */
  display: flex; /* Display children inline */
  align-items: center; /* Vertically center children */
}

.card-dot {
  width: 8px; /* Adjust the size of the dot */
  height: 8px; /* Adjust the size of the dot */
  background: black; /* Dot color */
  border-radius: 50%; /* Create a circular dot */
  margin-right: 4px; /* Space between dot and text */
}



